:host {
  box-sizing: border-box;
  padding: 15px;
  display: block;
  max-width: 1024px;
  margin: 0 auto;
}

.profile {
  margin: 30px 0;
}
.profile-name {
  margin-bottom: 15px;
}
.profile-title {
  opacity: 0.56;
}
